@import "/src/fonts.css";

.title {
  font-family: "Gotham Bold", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  margin: 20px 0;
}

.description {
  font-family: "Gotham Book", sans-serif;
  font-size: 20px;
  width: 88%;
  line-height: 27px;
  margin: 15px auto;
}