@import "./../../fonts.css";

.submitBtn {
  font-family: 'Gotham Bold', sans-serif;
  background-color: #28d2d0;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 16px;
  padding: 21px 23px;
  margin: 7px 0;
  border: 2px solid transparent;
  border-radius: 4px;
}
